/* Bit Software Co look and feel */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

#main {
    margin-left: 5rem;
    padding: 1rem;
}

/* Text */
a {
    color: rgb(0, 128, 255);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: rgb(79, 167, 255)
}

strong {
    font-weight: 600;
}
.code {
    display: block;
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgb(236, 236, 236);
}

/* Tabble */
tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tr:nth-child(2n) {
    background-color: #f8f8fa;
}
th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe3e5;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: inherit;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
}
/* Grid */
.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.grid .card {
    border-radius: 16px;
    text-align: center;
    width: 100%;
}