:root {
    --stone-blue-100: #cfe2ff;
    --stone-blue-200: #9ec5fe;
    --stone-blue-300: #6ea8fe;
    --stone-blue-400: #3d8bfd;
    --stone-blue-500: #0d6efd;
    --stone-blue-600: #0a58ca;
    --stone-blue-700: #084298;
    --stone-blue-800: #052c65;
    --stone-blue-900: #031633;

    --stone-pink-100: #f7d6e6;
    --stone-pink-200: #efadce;
    --stone-pink-300: #e685b5;
    --stone-pink-400: #de5c9d;
    --stone-pink-500: #d63384;
    --stone-pink-600: #ab296a;
    --stone-pink-700: #801f4f;
    --stone-pink-800: #561435;
    --stone-pink-900: #2b0a1a;
    
    --stone-green-100: #d1e7dd;
    --stone-green-200: #a3cfbb;
    --stone-green-300: #75b798;
    --stone-green-400: #479f76;
    --stone-green-500: #198754;
    --stone-green-600: #146c43;
    --stone-green-700: #0f5132;
    --stone-green-800: #0a3622;
    --stone-green-900: #051b11;
}