/*
 Table of Contents
 1. Imports
 2. body & root
 3. Type
 4. Hero
 5. Layout
 6. Section
 7. Navigation
 8. Promo
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

@import url("../css/color.css");

body {
    font-family: 'Public Sans', sans-serif !important;
    background: var(--stone-green-100);
    color: var(--stone-green-900);
}

/*
 ========
 Type 
 ========
*/
h1 { 
    font-size: clamp(1rem, 5vw + 1rem, 3rem);
    line-height: 1.1;
}
p { 
    opacity: .90;
    font-size: clamp(25px, 5vw + 1px, 1rem);
}

a { color: var(--stone-green-600); }
a:hover { color: var(--stone-green-800); }
a:active { color: var(--stone-green-700); }

.title { font-weight: bold; }

/*
 ========
 Hero 
 ========
*/
.hero {
    text-align: center;
    line-height: 2rem;
}
.hero-title {
    font-size: clamp(3rem, 5vw + 1rem, 4.5rem);
    line-height: 1.1;
    max-width: 443.95px;
    font-weight: bold;
}
.hero-lead {
    font-size: 2rem;
    opacity: .692;
    line-height: 1;
}
.hero-big {
    font-size: clamp(3rem, 5vw + 1rem, 5rem);
    line-height: 1.1;
    max-width: 443.95px;
    font-weight: bolder;
}

/*
 ========
 Layout 
 ========
*/
.split {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.text-center { text-align: center; }

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
}

.space {
    margin: 2rem 0;
}

/*
 ========
 Section 
 ========
*/
section { 
    padding: 1rem 1rem;
    min-height: 100vh;
}
section:nth-child(even) { background: var(--stone-green-200); }

/*
 ========
 Navigation 
 ========
*/
.navbar-brand img {
    margin-bottom: 4px;
}

.nav-link {
    margin-left:  5px;
    margin-right: 5px;
}
header { 
    background: #d1e7dd8e;

    &.header-light {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter:         blur(10px);
    
        border-style: solid;
        border-color: #0000001a;
        border-width: 1px 0;
    }

    &.header-dark {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter:         blur(10px);

        border-style: solid;
        border-color: rgba(255, 255, 255, 0.1);
        border-width: 1px 0;
    }
}

/*
 ========
 Promo 
 ========
*/
.window {
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.336);
}