@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: #d8e1ea;

    font-family: 'Open Sans', sans-serif;
    color: #001f3f;

    margin: 25px;
}

.bevel {
    border-radius: 29px;
    background: #d8e1ea;
    box-shadow:  5px 5px 9px #bebebe,
                -5px -5px 9px #ffffff;
    padding: 5px;
}
.bevel-concave {
    border-radius: 29px;
    background: linear-gradient(145deg, #c2cbd3, #e7f1fa);
    box-shadow:  4px 4px 6px #bebebe,
                -4px -4px 6px #ffffff;
    padding: 5px;
}
.bevel-convex {
    border-radius: 29px;
    background: linear-gradient(145deg, #e7f1fa, #c2cbd3);
    box-shadow:  4px 4px 6px #bebebe,
                -4px -4px 6px #ffffff;
    padding: 5px;
}
.bevel-inset {
    border-radius: 29px;
    background: #d8e1ea;
    box-shadow: inset 4px 4px 6px #bebebe,
                inset -4px -4px 6px #ffffff;
    padding: 5px
}
.bevel-hidden:hover {
    border-radius: 29px;
    background: #dde1e7;
    box-shadow:  5px 5px 9px #bebebe,
                -5px -5px 9px #ffffff;
    padding: 5px;
}

.left { float: left; }
.right { float: right; }
.center { 
    text-align: center;
    display: block;
    margin: auto;
}

.circle { border-radius: 50%; }

.active { background-color: var(--main-color); }
a {
    text-decoration: none;
    color: #003870;
}
a:hover {
    color: #025eb9;
}