* {
    --bsc-color-1: #9f7be1;
    --bsc-color-1-dark: #544177;

    --bsc-color-2: #014caf;
    --bsc-color-2-dark: #053472;

    text-shadow: 5px 3px 10px #00000080;
}

body {
    background: linear-gradient(166deg, rgba(238,0,20,1) 0%, rgba(71,0,211,1) 100%);
    color: white;
    margin: 0;

    font-family: sans-serif;

    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4,
p,
a {
    font-weight: 300;
}

p {
    line-height: 200%;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-shadow: 5px 3px 10px #000000;
}

.icon-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

nav {
    padding-bottom: 80px;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    margin-bottom: 10px;
}
.nav-bar {
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-item {
    display: list-item;
    padding-left: 5px;
    padding-right: 5px;
}

div {
    border-radius: 25px;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
    bottom: 0;
	color: white;
	text-align: center;
}

.glass {
    box-shadow: 20px 20px 50px #00000080;
    background: #ffffff1a;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
    backdrop-filter: blur(5px);
}
.glass:hover {
    box-shadow: 20px 20px 50px #00000098;
}

main {
    padding: 20px;
    padding-top: 50px;
}

@media only screen and (max-width: 696px) {
}