@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: linear-gradient(166deg, rgba(238,0,20,1) 0%, rgba(71,0,211,1) 100%);
    color: white;
    margin: 0;

    font-family: 'Quicksand', sans-serif;
    text-shadow: 5px 3px 10px #00000099;

    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4,
p, a,
input, select, textarea,
i, s {
    font-weight: lighter;
}

p {
    line-height: 200%;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-shadow: 5px 3px 10px #000000;
}

.icon-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

nav {
    padding-bottom: 80px;
    margin-bottom: 10px;
}
.nav-bar {
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-item {
    display: list-item;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-item-current {
    text-decoration: thick;
    color: white;
    text-shadow: 5px 3px 10px #ffffff91;
}
.nav-item-current:hover {
    text-shadow: 5px 3px 10px #ffffffce;
}

div {
    border-radius: 25px;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
    bottom: 0;
	color: white;
	text-align: center;
}

.glass {
    box-shadow: 20px 20px 50px #00000080;
    background: #ffffff1a;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
    backdrop-filter: blur(5px);
    padding: 20px;
}
.glass:hover {
    box-shadow: 20px 20px 50px #00000098;
}
.center {
    margin: auto;
}

main {
    padding: 20px;
    padding-top: 50px;
}

@media only screen and (max-width: 696px) {
}