@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --background-1: #000000;
    --background-2: #1C1C1E;

    --main-1: #FFFFFF;
    --main-2: #CCCCCC;
    --main-3: #999999;

    --accent-1: #0A84FF;
    --accent-2: #0963FF;
    --accent-3: #0842FF;

    --link-1: #4da6ff;
    --link-2: #238ef8;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-1);

    font-family: 'Open Sans', sans-serif;
    color: var(--main-1);

    margin: 25px;
}

.bevel {
    border-radius: 25px;
    border: 5px solid var(--background-2);
    padding: 5px;
}

.left { float: left; }
.right { float: right; }
.center { 
    text-align: center;
    display: block;
    margin: auto;
}

.circle { border-radius: 50%; }

a {
    text-decoration: none;
    color: var(--link-1);
}
a:hover {
    color: var(--link-2);
}

/* Other */
.logo a {
    color: var(--main-1);
    font-weight: bold;
    font-size: 95px;
}

/* Doc */
.doc { 
    width: 50%; 
    padding: 25px;
}

@media only screen and (max-width: 696px) {
    .doc { 
        width: 91%; 
        padding: 13px;
    }   
}